* {	 
	/*font-family: 'Lobster Two', cursive;*/
	font-family: 'Roboto'; sans-serif;
	/*font-family: 'Lobster', cursive;*/
	box-sizing: border-box;
	color: rgb(1,16,27);
	background-color: rgb(255,255,255);
	margin-left: 0px;
}

body {
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 960px;	
}

#header {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

#logo{
	width: 20%;
	height: 20%;
}

.myButton {
	width: 100%;
	background-color: white;
	border: solid 2px rgb(1,16,27);
	border-radius: 5px;
	cursor: pointer;
	color: #BF0018;
	padding: 5px;
	margin: 5px;
	font-size: 16px;
}
#buttons {
	display: flex;
	flex-direction: column;
	width: 140px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 3%;
	font-size: 20px;
}

.myButton:hover {
	background-color: rgb(1,16,27);
	color: white;
}
.right {
    margin-right: 0px;
}
#hero {
	width: 100%;
	max-width: 960px;
	height: 60%;
}
#value-prop {
	width: 100%;
	max-width: 960px;
	text-align: center;
}
h3, h4 {
	line-height: 3px;
}
hr {
	width: 100%;
	border: 0.25px solid #BF0018;
}

#testimonials {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	overflow: scroll;
	padding: 5px;
}
#share {
	display: flex;
	flex-direction: row;
	overflow: scroll;
	margin-left: auto;
	margin-right: auto;
}
.user {
	width: 125px;
	height: 125px;
	margin-top: auto;
	margin-bottom: auto;
	padding: 8px;
}
p {
	text-align: center;
	font-style: italic;
	font-size: 14px;
	padding-top: 6px;
}

.socialmedia {
	width: 75px;
	height: 75px;
	margin-top: auto;
	margin-bottom: auto;
	margin: 10px;
}

@media screen and (max-width: 800px) and (min-width: 576px) {
	#logo{
		width: 20%;
		height: 20%;
		margin-top: auto;
		margin-bottom: auto;
	}
}

@media screen and (max-width: 575px) {
	#logo{
		width: 80px;
		height: 80px;
		margin-top: auto;
		margin-bottom: auto;
	}


	.myButton:hover {
		background-color: rgb(1,16,27);
		color: white;
	}

	#buttons {
		display: flex;
		flex-direction: column;
		width: 80px;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 3%;
		font-size: 14px;
	}
	.myButton {
		width: 100%;
		background-color: white;
		border: solid 2px rgb(1,16,27);
		border-radius: 5px;
		cursor: pointer;
		color: #BF0018;
		padding: 3px;
		margin: 2px;
		font-size: 14px;
	}
	#value-prop {
		height: 40%;
		width: 100%;
	}
	h4 {
		line-height: 5px;
	}
	#testimonials {
		display: flex;
		flex-direction: column;
		padding: 0px;
	}
	#testimonial {
		padding: 0px;
		margin-top: 2px;
	}
	.user {
		width: 100px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		margin-bottom: 2px;
	}
	#share {
		display: flex;
		flex-direction: row;
		margin-left: auto;
		margin-right: auto;
	}
	.socialmedia {
		width: 55px;
		height: 55px;
		margin-top: -50px
		padding-top: 5px;
	}
}

@media screen and (max-width: 715px)  {
	#testimonials {
		display: flex;
		flex-direction: column;
		padding: 0px;
	}
	#testimonial {
		padding: 0px;
		margin-top: 2px;
	}
	.user {
		width: 100px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		margin-bottom: 2px;
	}
	.socialmedia {
		width: 55px;
		height: 55px;
		margin-top: -50px
		padding-top: 5px;
	}
}
