* {	 
	/*font-family: 'Lobster Two', cursive;*/
	font-family: 'Roboto'; sans-serif;
	/*font-family: 'Lobster', cursive;*/
	box-sizing: border-box;
	color: rgb(77,77,77);
	background-color: rgb(255,255,255);
	margin-left: 0px;
}

body {
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 960px;	
}

#header {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

#logo{
	width: 15%;
	height: 15%;
}

.myButton {
	width: 140px;
	background-color: #BF0018;
	border: solid 2px rgb(77,77,77);
	border-radius: 5px;
	cursor: pointer;
	color: white;
	padding: 5px;
	margin: 5px;
	font-size: 16px;
}
#buttons {
	display: flex;
	flex-direction: column;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 3%;
	font-size: 20px;
}

.myButton:hover {
	background-color:rgb(77,77,77);
}
.right {
    margin-right: 0px;
}
#hero {
	width: 100%;
	max-width: 960px;
	height: 60%;
}
#value-prop {
	width: 100%;
	max-width: 960px;
	text-align: center;
}
h3, h4 {
	line-height: 3px;
}
hr {
	width: 100%;
	border: 1px solid #BF0018;
}

#testimonials {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	overflow: scroll;
}
#share {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
	justify-content: space-between;
	overflow: scroll;
}
.user {
	width: 15%;
	height: 15%;
	margin-top: auto;
	margin-bottom: auto;
	padding: 8px;
}
p {
	text-align: center;
	font-style: italic;
	font-size: 14px;
	padding-top: 6px;
}

.socialmedia {
	width: 10%;
	height: 10%;
	margin-top: auto;
	margin-bottom: auto;
	padding: 8px;
	padding-top: 5px;
}
